<!DOCTYPE html>
<html>
<head>
	<title>WebApp Home Page</title>
</head>
<body ng-controller="WelcomeCtrl">

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">WebApp</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#/welcome">Home</a></li>
			<li><a href="#/view/workouts">All Workouts</a></li>
			<li><a href="#/addWorkout">Create Workout</a></li>
			<li ng-click="logout()"><a href="#">Logout</a></li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-12">
			<h3 class="text-center">Welcome Home, {{username}} !</h3>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-6">
			<select ng-model="selectedWorkout"
				ng-init="selectedWorkout = workouts[0].name"
				ng-options="workout.name for workout in workouts"
				ng-change="changeWorkout()">
			</select>
		</div>
		<div class="col-md-3">
			<select ng-model="selectedWeek"
				ng-init="selectedWeek = 1"
				ng-options="n for n in [] | range:1:selectedWorkout.numWeeks"
				ng-change="changeWeek()">
			</select>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col">
			<h1>Workout: {{selectedWorkout.name}}</h1>
			<h2>Week: {{selectedWeek}}</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Exercise Name</th>
						<th>Sets</th>
						<th>Reps</th>
						<th>Link</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="showExercise in showExercises">
						<td>{{ showExercise.name }}</td>
						<td>{{ showExercise.weeks[selectedWeek]['sets'] }}</td>
						<td>{{ showExercise.weeks[selectedWeek]['reps'] }}</td>
						<td><a href="{{ showExercise.link }}">Link to Exercise</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

</body>
</html>