<!DOCTYPE html>
<html>
<head>
	<title>WebApp Home Page</title>
</head>
<body ng-controller="WelcomeCtrl">

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">WebApp</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#/welcome">Home</a></li>
			<li><a href="#/view/workouts">All Workouts</a></li>
			<li><a href="#/addWorkout">Create Workout</a></li>
			<li ng-click="logout()"><a href="#">Logout</a></li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-12">
			<h3 class="text-center">Welcome Home, {{username}} !</h3>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-6">
			<select ng-model="selectWorkout" ng-options="workout.name for workout in workouts">
			</select>
		</div>
		<div class="col-md-6">
			<select ng-model="selectedWeek" ng-options="n for n in [] | range:1:selectWorkout.numWeeks">
			</select>
		</div>
	</div>
</div>

</body>
</html>